<h1>MML Vital signモジュール（サンプル）</h1>
<table>
  <thead>
    <tr>
      <th>血圧</th>
      <th>脈拍</th>
      <th>体温</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody><% @mmlvs.each do |vs| %>
    <tr>
      <td><%= vs.sbp.val %>/<%= vs.dbp.val %> mmHg</td>
      <td><%= vs.pulse.val %>/min</td>
      <td><%= vs.bt.val %>℃</td>
      <td><%= link_to '閲覧', vs %></td>
      <td><%= link_to '削除', vs, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to '新規入力', new_mmlvs_path %>
