<h1>MML Vital signモジュール</h1>
<table>
  <thead>
    <tr>
      <th>種別</th>
      <th>量</th>
      <th>単位</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mmlvs.each do |mmlvs| %>
    <tr>
      <td><%= mmlvs.type %></td>
      <td><%= mmlvs.volume %></td>
      <td><%= mmlvs.unit %></td>
      <td><%= link_to '閲覧', intake %></td>
      <td><%= link_to '編集', edit_mmlvs_path(intake) %></td>
      <td><%= link_to '削除', mmlvs, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to '新規入力', new_mmlvs_path %>
