<p id="notice"><%= notice %></p>


<div itemscope itemtype="http://schema.org/VitalSign">
<p>
  <span class="iheader"><span itemprop="name">収縮期血圧</span>:</strong></span>
  <span itemprop="description"><%= @mmlvs.sbp.val %>mmHg</span>
</p>
</div>
<div itemscope itemtype="http://schema.org/VitalSign">
<p>
  <span class="iheader"><span itemprop="name">拡張期血圧</span>:</strong></span>
  <span itemprop="description"><%= @mmlvs.dbp.val %></span>
</p>
</div>
<div itemscope itemtype="http://schema.org/VitalSign">
<p>
  <span class="iheader"><span itemprop="name">脈拍</span>:</strong></span>
  <span itemprop="description"><%= @mmlvs.pulse.val %></span>
</p>
</div>
<div itemscope itemtype="http://schema.org/VitalSign">
<p>
  <span class="iheader"><span itemprop="name">体温</span>:</span>
  <span itemprop="description"><%= @mmlvs.bt.val %></span>
</p>
</div>

<!-- <div itemscope itemtype="http://schema.org/VitalSign"> -->
<!-- <p> -->
<!--   <span class="iheader"><span itemprop="name">観察した時間</span>:</span> -->
<!--   <span itemprop="description"><%= @mmlvs.observed_time %></span> -->
<!-- </p> -->
<!-- </div> -->

<%= link_to 'MML', mmlvs_path(@mmlvs, format: :mml) %> | <%= link_to 'JSON', mmlvs_path(@mmlvs, format: :json) %>|
<%= link_to '戻る', mmlvs_index_path %>
