<p id="notice"><%= notice %></p>

<h1>Listing Injections</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @injections.each do |injection| %>
      <tr>
        <td><%= link_to 'Show', injection %></td>
        <td><%= link_to 'Edit', edit_injection_path(injection) %></td>
        <td><%= link_to 'Destroy', injection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Injection', new_injection_path %>
