<h1>経口摂取一覧</h1>

<table>
  <thead>
    <tr>
      <th>種別</th>
      <th>量</th>
      <th>単位</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @intakes.each do |intake| %>
    <tr>
      <td><%= intake.type %></td>
      <td><%= intake.volume %></td>
      <td><%= intake.unit %></td>
      <td><%= link_to '閲覧', intake %></td>
      <td><%= link_to '編集', edit_intake_path(intake) %></td>
      <td><%= link_to '削除', intake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to '新規入力', new_intake_path %>
