<p id="notice"><%= notice %></p>

<p>
  <strong>種別:</strong>
  <%= @intake.type %>
</p>

<p>
  <strong>量:</strong>
  <%= @intake.volume %>
</p>

<p>
  <strong>単位:</strong>
  <%= @intake.unit %>
</p>


<%= link_to '編集', edit_intake_path(@intake) %> |
<%= link_to '戻る', intakes_path %>
