<!DOCTYPE html>
<html>
<head>
  <title>MML Care module</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="columns">
    <div id="nav">
      MML介護モジュール

      <ul>
        <li><%= link_to "概要", mmlca_overview_path %></li>
        <li><%= link_to "バイタルサインモジュール", mmlvs_specification_path %></li>
        <li><%= link_to "ケア情報モジュール（作業中）", mmlca_specification_path %></li>
      </ul>  
    </div>
    <div id="main">

      <%= yield %>
  
    </div>
  </div>
</body>
</html>
